In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/sample databases/book1.csv")

In [ ]:
df

   petrol  vegetables  food
0      90          50    20
1      91          55    21
2      95          60    22
3      97          62    24
4      99          65    28
5     100          75    30
6     105          80    35
7     110          85    40

In [ ]:
x=df.drop(['food'],axis=1)
y=df['food']

In [ ]:
import statsmodels.api as sm
x = sm.add_constant(x)

model = sm.OLS(y, x).fit()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
summary = model.summary()
print(summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:                   food   R-squared:                       0.971
Model:                            OLS   Adj. R-squared:                  0.960
Method:                 Least Squares   F-statistic:                     84.10
Date:                Fri, 06 May 2022   Prob (F-statistic):           0.000142
Time:                        05:10:41   Log-Likelihood:                -12.398
No. Observations:                   8   AIC:                             30.80
Df Residuals:                       5   BIC:                             31.03
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -55.0356     22.399     -2.457      0.057    -112.614       2.543
petrol         0.7140      0.353      2.023      0.099      -0.193       1.621
vegetables     0.1849      0.193      0.956      0.383      -0.312       0.682
==============================================================================
Omnibus:                        1.013   Durbin-Watson:                   1.258
Prob(Omnibus):                  0.603   Jarque-Bera (JB):                0.747
Skew:                          -0.567   Prob(JB):                        0.688
Kurtosis:                       2.023   Cond. No.                     5.24e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.24e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=8
  "anyway, n=%i" % int(n))

In [ ]:
#calculation of VIF

from statsmodels.stats.outliers_influence import variance_inflation_factor

vif=pd.DataFrame()
vif['VIF']=[variance_inflation_factor(x.values,i) for i in range(x.shape[1])]
vif['variables']= x.columns
print(vif)

           VIF   variables
0  1930.921802       const
1    19.162480      petrol
2    19.162480  vegetables

In [ ]:
type(x)
type(y)

pandas.core.series.Series

In [ ]:
x=x.values
y=y.values

In [ ]:
type(x)
type(y)

numpy.ndarray

In [ ]:

#splitting the dataset into the training set and test set
import sklearn
from sklearn.model_selection import train_test_split
x_training_set,x_testing_set,y_training_set,y_testing_set=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
x_training_set

array([[ 91,  55],
       [110,  85],
       [ 97,  62],
       [ 90,  50],
       [100,  75],
       [ 99,  65]])

In [ ]:
y_training_set

array([21, 40, 24, 20, 30, 28])

In [ ]:
#fitting multiple linear regression to the training set
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_training_set,y_training_set)

LinearRegression()

In [ ]:
#the coefficients
print('Coefficients:/n',regressor.coef_)

Coefficients:/n [0.73563502 0.15621455]

In [ ]:
regressor.intercept_

-55.008976572133164

In [ ]:
#predicting the test set results
y_pred=regressor.predict(x_testing_set)
y_pred

array([34.72986436, 24.24922318])

In [ ]:
# the mean squared error

print("Mean squared error:",sklearn.metrics.mean_squared_error(y_testing_set,y_pred))

Mean squared error: 2.565989090206968

In [ ]:
# explained variance score: 1 is prefect prediction

print('Variance score:',sklearn.metrics.r2_score(y_testing_set,y_pred))

Variance score: 0.9392665304093025

In [ ]:
# compare actual data with predicted value
import pandas as pd
y_test=pd.DataFrame(y_testing_set)
y_prediction=pd.DataFrame(y_pred)

comparison=pd.concat([y_test,y_prediction],axis=1)
comparison

    0          0
0  35  34.729864
1  22  24.249223

In [ ]:
df.columns

Index(['petrol', 'vegetables', 'food'], dtype='object')

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
X=2*np.random.randn(100,1)
y=4+3*x+np.random.randn(100,1)

In [ ]:
from sklearn.linear_model import LinearRegression
lin_reg=LinearRegression()
lin_reg.fit(X,y)
lin_reg.intercept_,lin_reg.coef_

(array([4.7930965]), array([[0.4230211]]))

In [ ]:
X_new=np.random.randn(5,1)

In [ ]:
lin_reg.predict(X_new)

array([[4.94545794],
       [4.75082791],
       [3.95266476],
       [4.06213768],
       [4.4268782 ]])

In [ ]:
from sklearn.linear_model import SGDRegressor
sgd_reg=SGDRegressor(n_iter=50,penalty=None,eta0=0.1)
sgd_reg.fit(X,y.ravel())
sgd_reg.intercept_,sgd_reg.coef_

TypeError: ignored

In [ ]:
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
mkdir /.kaggle

In [ ]:
cp kaggle.json /.kaggle/

In [ ]:
chmod~